<style>
.myitem {
    text-align: right;
}

td {
    padding: 2pt 5pt 2pt 5pt;
}

td, th {
    display: table-cell;
    vertical-align: top;
}

table {
    display: table;
    table-layout: auto;
    border-collapse: separate;
    border-spacing: 10px;
    border-color: grey;
}
</style>

<script>
function ghURLstring (suffix) {
    return 'https://github.com/anlun/publicFiles/raw/master/' + suffix;
};
  
function ghURL (suffix, name) {
    document.write('<a href="' + ghURLstring(suffix) + '">' + name + '</a>');
};
  
var authors = {
    "A. Podkopaev" : { "surname" : "Podkopaev",
                       "short"   : "A. Podkopaev",
                       "url"     : ""
                     },
    "O. Lahav"     : { "surname" : "Lahav",
                       "name"    : "Ori",
                       "url"     : "http://www.cs.tau.ac.il/~orilahav/"
                     },
    "V. Vafeiadis" : { "surname" : "Vafeiadis",
                       "name"    : "Viktor",
                       "url"     : "https://people.mpi-sws.org/~viktor/"
                     },

    "E. Moiseenko" : { "surname" : "Moiseenko",
                       "name"    : "Evgenii",
                       "url"     : "https://research.jetbrains.org/researchers/evg.moiseenko"
                     },

    "I. Sergey"    : { "surname" : "Sergey",
                       "name"    : "Ilya",
                       "url"     : "http://ilyasergey.net/"
                     },

    "A. Nanevski"  : { "surname" : "Nanevski",
                       "name"    : "Aleksandar",
                       "url"     : "http://software.imdea.org/~aleks"
                     },

    "D. Boulytchev"  : { "surname" : "Boulytchev",
                         "name"    : "Dmitry",
                         "url"     : "https://research.jetbrains.org/researchers/db"
                       },

    "E. Namakonov"  : { "surname" : "Namakonov",
                        "name"    : "Egor",
                        "url"     : "https://research.jetbrains.org/researchers/fresheed"
                      },

    "O. Melkonian"  : { "surname" : "Melkonian",
                        "name"    : "Orestis",
                        "url"     : "https://omelkonian.github.io/"
                      },

    "C. Watt"       : { "surname" : "Watt",
                        "name"    : "Conrad",
                        "url"     : "https://www.cl.cam.ac.uk/~caw77/"
                      },

    "C. Pulte"      : { "surname" : "Pulte",
                        "name"    : "Christopher",
                        "url"     : "https://www.cl.cam.ac.uk/~cp526/"
                      },

    "G. Barbier"    : { "surname" : "Barbier",
                        "name"    : "Guillaume",
                        "url"     : ""
                      },

    "S. Dolan"      : { "surname" : "Dolan",
                        "name"    : "Stephen",
                        "url"     : "http://stedolan.net/"
                      },

    "S. Flur"       : { "surname" : "Flur",
                        "name"    : "Shaked",
                        "url"     : "https://www.cl.cam.ac.uk/~sf502/"
                      },

    "J. Pichon-Pharabod" : { "surname" : "Pichon-Pharabod",
                             "name"    : "Jean",
                             "url"     : "https://www.cl.cam.ac.uk/~jp622/"
                           },

    "S. Guo"        : { "surname" : "Guo",
                        "name"    : "Shu-yu",
                        "url"     : "http://rfrn.org/~shu/"
                      },

    "S.-H. Lee"     : { "surname" : "Lee",
                        "name"    : "Sung-Hwan",
                        "url"     : "https://sf.snu.ac.kr/sunghwan.lee"
                      },

    "M. Cho"        : { "surname" : "Cho",
                        "name"    : "Minki",
                        "url"     : "https://sf.snu.ac.kr/minki.cho"
                      },

    "C.-K. Hur"     : { "surname" : "Hur",
                        "name"    : "Chung-Kil",
                        "url"     : "https://sf.snu.ac.kr/gil.hur/"
                      },

    "S. Chakraborty" : { "surname" : "Chakraborty",
                         "name"    : "Soham",
                         "url"     : "http://www.cse.iitd.ac.in/~soham/"
                       },

    "J. Oberhauser"  : { "surname" : "Oberhauser",
                         "name"    : "Jonas",
                         "url" : "https://dblp.org/pid/175/6610.html"
                       },

    "A. Jeffrey"     : { "surname" : "Jeffrey",
                         "name"    : "Alan",
                         "url"     : "http://asaj.org/"
                       },

    "J. Riely"       : { "surname" : "Riely",
                         "name"    : "James",
                         "url"     : "https://fpl.cs.depaul.edu/jriely/"
                       },

    "M. Batty"       : { "surname" : "Batty",
                         "name"    : "Mark",
                         "url"     : "https://www.kent.ac.uk/computing/people/3126/batty-mark"
                       },

    "S. Cooksey"     : { "surname" : "Cooksey",
                         "name"    : "Simon",
                         "url"     : "https://graymalk.in/"
                       },

    "I. Kaysin"      : { "surname" : "Kaysin",
                         "name"    : "Ilya",
                         "url"     : "https://ilya.fun"
                       },

    "D. Koznov"      : { "surname" : "Koznov",
                         "name"    : "Dmitri",
                         "url"     : "https://www.math.spbu.ru/user/dkoznov/"
                       },

    "A. Kozyrev"     : { "surname" : "Kozyrev",
                         "name"    : "Andrei",
                         "url"     : ""
                       },

    "G. Solovev"     : { "surname" : "Solovev",
                         "name"    : "Gleb",
                         "url"     : ""
                       },

    "N. Khramov"     : { "surname" : "Khramov",
                         "name"    : "Nikita",
                         "url"     : ""
                       },
};
function authorString (fname) {
    if (!(fname in authors)) {
        return fname;
    }
    if (authors[fname]["url"] == "") {
        return fname;
    }
    return '<a href="' + authors[fname]["url"] + '">' + fname + '</a>';
}
  
function author (fname) {
    document.write(authorString(fname));
};
  
function lahav () {
    document.write(author("O. Lahav"));
}
function vafeiadis () {
    document.write(author("V. Vafeiadis"));
}
  
var papers = [
    { "title" : "Relaxed Memory Concurrency Re-executed",
      "authors" : ["E. Moiseenko", "M. Meluzzi", "I. Meleshchenko", "I. Kabashnyi", "A. Podkopaev", "S. Chakraborty"],
      "venue" : "POPL'25",
      "full venue" : 'Symposium on Principles of Programming Languages, <a href="https://popl25.sigplan.org/">POPL 2025</a>',
      "links" :
        { 'Paper'    : ghURLstring("papers/Moiseenko-al-POPL25.pdf"),
        },
      "selected" : true,
      "rank" : "CORE2024: A*",
      "main-coauthor": true,
    },

    { "title" : "CoqPilot, a plugin for LLM-based generation of proofs",
      "authors" : ["A. Kozyrev", "G. Solovev", "N. Khramov", "A. Podkopaev"],
      "venue" : "ASE Demo'24",
      "full venue" : 'International Conference on Automated Software Engineering, <a href="https://conf.researchr.org/home/ase-2024">ASE 2024</a>',
      "links" :
        { 'Draft'            : ghURLstring("papers/Kozyrev-al-ASE24.pdf"),
          'arXiv'            : "https://arxiv.org/abs/2410.19605",
          'Video (5 min)'    : "https://www.youtube.com/watch?v=oB1Lx-So9Lo",
          'Video (10 min)'   : "https://youtu.be/P-LHXf7vntM?si=hKLPuXZJcyp1JcG-",
          'GitHub'           : "https://github.com/JetBrains-Research/coqpilot",
        },
      "selected" : true,
      "rank" : "CORE2023: A*",
    },

    { "title" : "The Leaky Semicolon: Compositional Semantic Dependencies for Relaxed-Memory Concurrency",
      "authors" : ["A. Jeffrey", "J. Riely", "M. Batty", "S. Cooksey", "I. Kaysin", "A. Podkopaev"],
      "venue" : "POPL'22",
      "full venue" : 'Symposium on Principles of Programming Languages, <a href="https://popl22.sigplan.org/">POPL 2022</a>',
      "links" :
        { 'Paper'            : ghURLstring("papers/Jeffrey-al-POPL22.pdf"),
          'Full paper'       : ghURLstring("papers/Jeffrey-al-POPL22-full.pdf"),
          'Project'          : 'https://weakmemory.github.io/pwt',
          'Artifact @Zenodo' : "https://doi.org/10.5281/zenodo.5496483",
          'GitHub'           : "https://github.com/weakmemory/pwt",
        },
      "selected" : true,
      "rank" : "CORE2021: A*",
    },

    { "title" : "Mechanization of pomset languages in the Coq proof assistant for the specification of weak memory models",
      "authors" : ["E. Moiseenko", "V. Gladstein", "A. Podkopaev", "D. Koznov"],
      "venue" : "ITMO'22",
      "full venue" : "Scientific and Technical Journal of Information Technologies, Mechanics and Optics, 2022",
      "links" :
        { 'DOI' : "https://doi.org/10.17586/2226-1494-2022-22-3-517-527",
        },
      "selected" : false,
      "rank" : "SJR: Q4",
      "main-coauthor": false,
    },

    { "title" : "A Survey of Programming Language Memory Models",
      "authors" : ["E. Moiseenko", "A. Podkopaev", "D. Koznov"],
      "venue" : "Programming'21",
      "full venue" : "Journal 'Programming and Computer Software', 2021",
      "links" :
        { 'Paper'           : ghURLstring("papers/Moiseenko-al-Programming21.pdf"),
          'Full paper w/ better formatting'
              : ghURLstring("papers/Moiseenko-al-Programming21-full.pdf"),
          'Paper (Russian)' : ghURLstring("papers/Moiseenko-al-Programming21rus.pdf"),
        },
      "selected" : true,
      "rank" : "SJR: Q3",
      "main-coauthor": true,
    },

    { "title" : "Making Weak Memory Models Fair",
      "authors" : ["O. Lahav", "E. Namakonov", "J. Oberhauser", "A. Podkopaev", "V. Vafeiadis"],
      "venue" : "OOPSLA'21",
      "full venue" : "OOPSLA 2021",
      "links" :
        { 'Paper' : ghURLstring("papers/Lahav-al-OOPSLA21.pdf"),
          'arXiv' : "https://arxiv.org/abs/2012.01067",
          'Artifact @Zenodo' : "https://doi.org/10.5281/zenodo.5496483",
          'DOI': "https://doi.org/10.1145/3485475",
          'Talk' : "https://youtu.be/aHAqMmUeBNw",
        },
      "selected" : true,
      "rank" : "CORE2021: A",
      "award" : "Distinguished Paper Award",
    },

    { "title" : "Reconciling Event Structures with Modern Multiprocessors",
      "authors" : ["E. Moiseenko", "A. Podkopaev", "O. Lahav", "O. Melkonian", "V. Vafeiadis"],
      "venue" : "ECOOP'20",
      "full venue" : "2020 European Conference on Object-Oriented Programming",
      "links" :
        { 'Paper'    : "https://drops.dagstuhl.de/opus/volltexte/2020/13162/pdf/LIPIcs-ECOOP-2020-5.pdf",
          'DOI'      : "https://doi.org/10.4230/LIPIcs.ECOOP.2020.5",
          'Artifact' : "https://drops.dagstuhl.de/opus/volltexte/2020/13201/",
          'arXiv'    : "https://arxiv.org/abs/1911.06567",
          'GitHub'   : "https://github.com/weakmemory/weakestmoToImm",
          'Talk'     : "https://www.youtube.com/watch?v=SiZcjPPuk4E",
        },
      "selected" : true,
      "rank" : "CORE2020: A",
      "main-coauthor": true,
    },

    { "title" : "Promising 2.0: Global Optimizations in Relaxed Memory Concurrency",
      "authors" : ["S.-H. Lee", "M. Cho", "A. Podkopaev", "S. Chakraborty",
                   "C.-K. Hur", "O. Lahav", "V. Vafeiadis"],
      "venue" : "PLDI'20",
      "full venue" : 'Conference on Programming Language Design and Implementation, <a href="https://pldi20.sigplan.org/">PLDI 2020 </a>',
      "links" :
        { 'Paper'          : ghURLstring("papers/Lee-al-PLDI20.pdf"),
          'DOI'            : 'https://doi.org/10.1145/3385412.3386010',
          'DOI (artifact)' : 'https://doi.org/10.1145/3395643',
          'Project'        : 'https://sf.snu.ac.kr/promising2.0',
          'GitHub 1'       : 'https://github.com/snu-sf/promising2-coq',
          'GitHub 2'       : 'https://github.com/weakmemory/promising2ToImm'
        },
      "selected" : true,
      "rank" : "CORE2020: A*",
    },

    { "title" : "Repairing and Mechanising the JavaScript Relaxed Memory Model",
      "authors" : ["C. Watt", "C. Pulte", "A. Podkopaev", "G. Barbier",
                   "S. Dolan", "S. Flur", "J. Pichon-Pharabod", "S. Guo"],
      "venue" : "PLDI'20",
      "full venue" : 'Conference on Programming Language Design and Implementation, <a href="https://pldi20.sigplan.org/">PLDI 2020 </a>',
      "links" :
        { 'Paper'       : ghURLstring("papers/Watt-al-PLDI20.pdf"),
          'DOI'         : 'https://doi.org/10.1145/3385412.3385973',
          'arXiv'       : 'https://arxiv.org/abs/2005.10554',
          'Artifact on GitHub' : 'https://github.com/conrad-watt/repairing-and-mechanising-the-javascript-relaxed-memory-model',
        },
      "selected" : true,
      "rank" : "CORE2020: A*",
    },

    { "title" : "Compilation of OCaml memory model into Power (In Russian)",
      "authors" : ["E. Namakonov", "A. Podkopaev"],
      "venue" : "ISP RAS'19",
      "full venue" : "proceedings of ISP RAS, 2019",
      "links" :
        { 'Draft' : ghURLstring("papers/Namakonov-Podkopaev-ISPRAS19.pdf"),
        },
      "selected" : false,
    },


    { "title" : "Bridging the Gap Between Programming Languages and Hardware Weak Memory Models",
      "authors" : ["A. Podkopaev", "O. Lahav", "V. Vafeiadis"],
      "venue" : "POPL'19",
      "full venue" : 'Symposium on Principles of Programming Languages, <a href="https://popl19.sigplan.org/">POPL 2019</a>',
      "links" :
        { 'Paper'       : ghURLstring("papers/Podkopaev-al-POPL19.pdf"),
          'Full paper'  : ghURLstring("papers/Podkopaev-al-POPL19-full.pdf"),
          'Project'     : 'https://plv.mpi-sws.org/imm',
          'arXiv'       : 'https://arxiv.org/abs/1807.07892',
          'GitHub'      : 'https://github.com/weakmemory/imm',
          'POPL\'19 slides' : ghURLstring("slides/Podkopaev-al-POPL19-slides.pdf"),
          'EWSCS\'19 slides' : ghURLstring("slides/Podkopaev-al-EWSCS19-slides.pdf")
        },
      "selected" : true,
      "comment"  : "https://news.ycombinator.com/item?id=17598907",
      "rank" : "CORE2020: A*",
      "main-coauthor": true,
    },
    
    { "title" : "Relational programming with memoization and negation (In Russian)",
      "authors" : ["E. Moiseenko", "A. Podkopaev"],
      "venue" : "NTV'18",
      "full venue" : 'NTV SPbSTU 2 (11), August 2018',
      "links" :
        { 'Paper' : ghURLstring("papers/Moiseenko-Podkopaev-NTV18.pdf")
        }
    },

    { "title" : "On compilation correctness for a subset of a promising memory model to the ARMv8.3 memory model (In Russian)",
      "authors" : ["A. Podkopaev", "O. Lahav", "V. Vafeiadis"],
      "venue" : "NTV'17",
      "full venue" : "NTV SPbSTU 4 (10), December 2017",
      "links" :
        { 'Paper' : ghURLstring("papers/Podkopaev-al-NTV17.pdf")
        },
      "main-coauthor": true,
    },

    { "title" : "Promising Compilation to ARMv8.3 (In Russian)",
      "authors" : ["A. Podkopaev", "O. Lahav", "V. Vafeiadis"],
      "venue" : "ISP RAS'17",
      "full venue" : "proceedings of ISP RAS, 2017",
      "links" :
        { 'Draft' : ghURLstring("papers/Podkopaev-al-ISPRAS17.pdf"),
          'Appendix' : ghURLstring("papers/Podkopaev-al-ISPRAS17-proof.pdf")
        },
      "main-coauthor": true,
    },

    { "title" : "Promising Compilation to ARMv8 POP",
      "authors" : ["A. Podkopaev", "O. Lahav", "V. Vafeiadis"],
      "venue" : "ECOOP'17",
      "full venue" : "2017 European Conference on Object-Oriented Programming",
      "links" :
        { 'Full paper'                 : ghURLstring("papers/Podkopaev-al-ECOOP17-full.pdf"),
          "ECOOP'17 slides"            : ghURLstring("slides/Podkopaev-al-ECOOP17-slides.pdf"),
          "ECOOP'17 talk video"        : "https://youtu.be/OfWxjAtijjM",
          "PLC'17 slides (in Russian)" : ghURLstring("slides/Podkopaev-al-PLC17-slides.pdf"),
        },
      "selected" : true,
      "rank" : "CORE2017: A",
      "main-coauthor": true,
    },
    
    { "title" : "Operational Aspects of C/C++ Concurrency",
      "authors" : ["A. Podkopaev", "I. Sergey", "A. Nanevski"],
      "venue" : "arXiv'16",
      "full venue" : "",
      "links" :
        { 'arXiv' : "http://arxiv.org/abs/1606.01400",
          'GitHub': "https://github.com/anlun/OperationalSemanticsC11",
        },
      "selected" : true,
    },

    { "title" : "A Language-Independent Code Formatting by Syntactic Matching and Templates (In Russian)",
      "authors" : ["A. Podkopaev", "A. Korovianskii", "I. Ozernykh"],
      "venue" : "NTV'15",
      "full venue" : "NTV SPbSTU 4 (224), October 2015",
      "links" :
        { 'Paper'  : ghURLstring("papers/Podkopaev-al-NTV15.pdf"),
          'GitHub' : "https://github.com/prettyPrinting",
        },
      "main-coauthor": true,
    },

    { "title" : "Polynomial-Time Optimal Pretty-Printing Combinators with Choice",
      "authors" : ["A. Podkopaev", "D. Boulytchev"],
      "venue" : "PSI'14",
      "full venue" : "proceedings of 9th International Andrei Ershov Memorial Conference on Perspectives of System Informatics, PSI 2014",
      "links" :
        { 'Paper' : ghURLstring("papers/Podkopaev-Boulytchev-PSI14.pdf"),
          'Springer link': "http://link.springer.com/chapter/10.1007%2F978-3-662-46823-4_21",
          'GitHub (Haskell)' : "https://github.com/anlun/polynomialPPCombinators",
          'GitHub (Kotlin)' : "https://github.com/prettyPrinting/format",
        },
      "selected" : true,
      "rank" : "CORE2014: B",
      "main-coauthor": true,
    },

    { "title" : "Tools for Rapid Development of Domain-Specific Solutions In QReal Metacase System (In Russian)",
      "authors" : ["A. Kuzenkova", "A. Deripaska", "K. Taran", "A. Podkopaev", "Yu. Litvinov", "T. Bryksin"],
      "venue" : "NTV'11",
      "full venue" : "NTV SPbSTU 4 (128), 2011",
      "links" :
        { 'Paper' : ghURLstring("papers/Podkopaev-al-NTV11.pdf"),
          'Elibrary' : "http://elibrary.ru/item.asp?id=16927165",
          'Project' : "http://qreal.ru/",
        }
    },
];
  
function paperAuthors (paperObj) {
    return paperObj["authors"].map(authorString).join(', ');
}
  
function paperFullVenue (paperObj) {
    if (paperObj["full venue"] == "") {
        return "";
    }
    return "<br />" + "In " + paperObj["full venue"];
}

function paperLinks (paperObj) {
    var links = "";
    for (link in paperObj["links"]) {
        if (links != "") {
            links += ", ";
        }
        links += "<a href=" + paperObj["links"][link] + ">" + link + "</a>";
    }
    if (links != "") {
        links = "<br />" + "[" + links + "]"
    }
    return links;
}

function paperAward (paperObj) {
    if (!("award" in paperObj) || !paperObj["award"]) {
        return "";
    }
    return '<br/> <span style="color: #800000;"><strong><em>' +
           paperObj["award"] +
           '</em></strong></span>';
}


function paperReprString (paperObj) {
    return "<li>" +
           "<b>" + paperObj["title"] + "</b>" +
           "<br />" +
           paperAuthors(paperObj) + paperFullVenue(paperObj) + paperLinks(paperObj) +
           paperAward(paperObj) +
           "</li>";
}

function paperRepr (paperObj) {
    document.write(paperReprString(paperObj));
}

function papersFull () {
    document.write("<ol reversed>");
    papers.forEach(paperRepr);
    document.write("</ol>");
}

function papersShort () {
    document.write('<table width="100%">');
    document.write("<tbody>");
    papers.forEach(function (paperObj) {
        if (!("selected" in paperObj) || !paperObj["selected"]) {
            return;
        }

        document.write("<tr>");

        document.write('<td class="myitem">');
        document.write(paperObj["venue"]);
        document.write("</td>");

        document.write("<td>");
        document.write("<b>" + paperObj["title"] + "</b> <br />");
        document.write(paperAuthors(paperObj) +  paperLinks(paperObj));
        document.write("</td>");

        document.write("</tr>");
    });
    document.write("</tbody>");
    document.write("</table>");
}

function authorHighlightAnton (fname) {
    if (fname != "A. Podkopaev") {
        return fname;
    }
    return '<b>' + fname + '</b>';
}

function papersRanked () {
    document.write('<table width="100%">');
    document.write("<tbody>");
    var index = 1;
    papers.forEach(function (paperObj) {
        if (!("rank" in paperObj) || !paperObj["rank"]) {
            return;
        }

        document.write("<tr>");

        document.write('<td>');
        if ("main-coauthor" in paperObj && paperObj["main-coauthor"] && paperObj["rank"].includes(": A")) {
             document.write("✓");
        }
        document.write("</td>");

        document.write('<td>');
        document.write(index.toString() + ')'); index = index + 1;
        document.write("</td>");

        document.write('<td>');
        document.write(paperObj["rank"]);
        document.write("</td>");

        document.write('<td class="myitem">');
        document.write(paperObj["venue"]);
        document.write("</td>");

        document.write("<td>");
        document.write(paperObj["authors"].map(authorHighlightAnton).join(', ') + ". <br />");
        document.write(paperObj["title"]);
        document.write("</td>");

        document.write("</tr>");
    });
    document.write("</tbody>");
    document.write("</table>");
}
</script>
